{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h1 class="text-center mb-5">📞 Contact</h1>

    <div class="card shadow p-5">

        <h3>👤 Youssouf Seme</h3>

        <hr>

        <p><strong>📧 Email :</strong> youssoufseme064@gmail.com</p>

        <p><strong>📱 Téléphone :</strong> +222 41 43 88 95</p>

        <p><strong>📍 Adresse :</strong> Nouakchott, Mauritanie</p>

        <p><strong>💻 GitHub :</strong>
            <a href="https://github.com/youssouf064" target="_blank">
                github.com/youssouf064
            </a>
        </p>

        <p><strong>🔗 LinkedIn :</strong>
            Votre profil LinkedIn
        </p>

    </div>

</div>

{% endblock %}